@font-face {
  font-family: 'PixelFont';
  font-style: normal;
  src: url("../assets/fonts/Pixeled.ttf") format("truetype");
  font-weight: normal;
}

.container {

  justify-content: center;
  display: grid;
  grid-template-columns: 342px 332.32px 635.28px;
  /* Increased column sizes proportionally */
  grid-template-rows: 317.56px 418.44px;
  /* Increased row sizes proportionally */
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Inservice nirvana c"
    "e f c";
}

.nirvana {
  grid-area: nirvana;
  border: 1px solid white;
  background-image: url("https://i.pinimg.com/736x/b6/8d/de/b68ddef2e1d28c8dc945050efaec8adc.jpg");
  background-size: cover;

}

.Inservice {
  grid-area: Inservice;
  border: 1px solid white;
  background-image: url("https://i.pinimg.com/736x/bc/95/f8/bc95f892eb0a8c89980418737c193573.jpg");
  background-size: cover;
}

.e {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 20px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "clock"
    "skills";
  grid-area: e;
  border: 1px solid white;

}

.skills {
  grid-area: skills;
  border: 1px solid white;
  background-color: #241c1a;
  padding: 20px;
  color: #F8B430;
  font-size: 2rem;
}

.skillsList {
  padding-top: 80px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 3.8fr 2.8fr; /* Two columns */
  gap: 10px; /* Space between items */
  
}

.skillsList li {
    font-size: 1.2rem;
  text-align: left;
  
}

.flip-clock {
  grid-area: clock;
  border: 1px solid white;

}

.c {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr 1.1fr 0.9fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "dino dino"
    "d genposium"
    "d Email";
  grid-area: c;
  border: 1px solid white;

}

.dino {
  grid-area: dino;
  background-color: rgb(12, 12, 12);
  border: 10px solid black;

}

.dino p {
  position: relative;
  font-family: 'PixelFont';
  color: #c9c6c6;
  font-size: small;
  padding-left: 2px;
  animation: blink 2.3s infinite;

  /* Blinking animation */
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
    /* Fully visible */
  }

  50% {
    opacity: 0.4;
    /* Invisible */
  }
}

.genposium {
  grid-area: genposium;
  background-image: url('images/genposium.jpeg');
  background-size: contain;
  border: 1px solid white;


}

.Email {
  grid-area: Email;
  border: 1px solid white;
  background-color: #1c182c;
  font-family: 'Times New Roman', Times, serif;
}
.contact-title {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 8px;
  margin-left: 8px;
  color: #ffffff;
}

.contact-description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 60px;
  margin-left: 8px;
}

.contact-form {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.contact-input {
  width: 290px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #241e50;
  /* border-radius: 6px; */

  background-color: #331818;
  color: white;
}

.contact-input::placeholder {
  color: #888;
}


.contact-button {
  background-color: #000;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contact-button:hover {
  background-color: #333;
}


.d {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "mode"
    "lead";
  grid-area: d;
  border: 1px solid white;

}

.lead {
  grid-area: lead;
  background-image: url("https://i.pinimg.com/736x/7b/cb/6c/7bcb6cb5cba9c5a9cf518f8e9c6af06d.jpg");
  background-size: cover;
  background-position: top;
  border: 1px solid white;


}

.mode {
  grid-area: mode;
  background-image: url("https://blocks.shawnlukas.com/assets/shawn-lukas-lukas-sans-typeface-dark-or-light.png");
  background-size: cover;
  background-position: center;
  border: 1px solid white;

}

.f {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 20px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile"
    "social";
  grid-area: f;
  border: 1px solid white;

}

.profile {
  grid-area: profile;
  background-image: url("https://i.pinimg.com/736x/57/a4/d9/57a4d93ff5bf674904bc259ee89f6675.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid white;

}

.social {
  grid-area: social;
  border: 1px solid white;
  background-image: url("https://blocks.shawnlukas.com/assets/shawn-lukas-lukas-sans-typeface-official.png");
  background-size: cover;
  background-position: center;
}




