.contact-form {
    display: flex;
    gap: 10px;
    margin-left: 10px;
  }
  
  .contact-input {
    width: 290px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #241e50;
    background-color: #331818;
    color: white;
  }
  
  .contact-input::placeholder {
    color: #888;
  }
  
  .contact-button {
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #333;
  }